<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-25">Order History</h2>
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Order Date</th>
                                    <th>Total Amount</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orderHistoryList">
                                    <td>{{ order.orderTrackingNumber }}</td>
                                    <td>{{ order.dateCreated | date:'medium' }}</td>
                                    <td>{{ order.totalPrice | currency:'INR':'symbol':'1.2-2' }}</td>
                                    <td>{{ order.totalQuantity }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
